@import url('https://fonts.googleapis.com/css?family=Poor+Richard|Algerian');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #6A041D;
  --secondary-color: #000914;
  --accent1-color: #F5B841;
  --accent2-color: #F4FF52;

  /* change the values below to your chosen font(s) */
  --heading-font: "Algerian";
  --paragraph-font: Poor Richard, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #000000;  /* headlines on a white background */ 
  --headline-color-on-color: #F4FF52; /* headlines on a colored background */ 
  --paragraph-color-on-white: #6A041D; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #F4FF52; /* paragraph text on a colored background */ 
  --paragraph-background-color: #6A041D  ;
  --nav-link-color: #6A041D;
  --nav-background-color: #D4AC0D;
  --nav-hover-link-color: #F4FF52;
  --nav-hover-background-color: #6A041D;
}


/*  Look around below...but DON'T CHANGE ANYTHING! */

* {box-sizing: border-box}
body {margin:0}
.mySlides {display: none}
img {vertical-align: middle;}
.hidden0 {
  text-align: left;
}
body.text{
  margin-bottom: 100px;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  padding: auto;
  font-size: 18px;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 1000px;
}
h1, h2, h3, h4, h5, h6 {
  margin-left: 50px;
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}
.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}
p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}
nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: flex;
}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {
  text-align: center;
}
.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}
.top {
  grid-area: top;
  border-left: 1px solid;
}
.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}
.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}
.content {
    max-width: 1600px;
    margin: 0 auto;
}
h3 {
    text-decoration: underline;
}
a:hover {
    text-decoration: underline;
}
.home-title {
    color: #000914;
}
nav a, #hero-msg h1, #hero-msg h4, .button-box, main, section, .slideshow-container {
    text-align: center;
    color: #6A041D;
    text-decoration: none;
    padding: 15px;
}

.img {
  max-width: 100%;
  display: block;
}
.background {
    height: 725px;
}
body {
    background-color: #F5B841;
}
nav a:hover {
    background-color: #F4FF52;
    color: #6A041D;
}
.book, .join {
    background-color: #6A041D;
    color: #000914;
    text-decoration: none;
}
.book:hover, .join:hover {
    background-color: #F4FF52;
    color: #000914;
}
#background {
    background-color: #6A041D;
    grid-column: 1/11;
    grid-row: 4/9;
}
.msg {
    background-color: #6A041D;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg h2 {
    color: #000914;
}
.msg p {
    color: #000914;
}
footer {
    background-color: #6A041D;
    padding: 25px 50px;
    margin-top: 100px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: #F4FF52;
    text-decoration: none;
}
footer a:hover {
    color: #000914;
    text-decoration: underline;
}
#hero-img {
    width: 10%;
}
header {
    display: grid;
    grid-template-columns: auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
#logo {
    width: 10%;
}
#logo_link {
    padding: auto;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: auto;
}
#hero-box {
    grid-column: 2/3;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg h4, #hero-msg h1 {
    color: white;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#slideimg1 {
  width: auto;
  display: block;
}
#slideimg2 {
  width: auto;
  display: block;
}
#slideimg3 {
  width: auto;
  display: block;
}

@media screen {
    #hero, .home-grid, .slideshow-container {
        display: block;
        height: auto;
        width: auto;
    }
   
    nav, footer {
        flex-direction: row;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: block;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }

    #background {
        display: none;
    }
    
    footer {
        margin-top: 100px;
    }
}